.wrapper {
	width: 960px;
	height: 1000px;
	overflow: scroll;
	margin: 0 auto;
}

.wrapper img {
	margin-right: 2px;
	margin-bottom: 2px;
}

.checkboxInput {
	position: fixed;
	left: 10px;
	top: 30px;
}